/* base */
*,input,:before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    overflow-x: hidden;
    font-size: unset
}
html,body,ul,ol {
    padding: 0;
    margin: 0
}
body,input,textarea,button,select {
    line-height: 1.7;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}
body {
    font-size: 14px;
    background: #f1f1f1;
    overflow-x: hidden
}
header nav {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif
}
header nav .nav-item {
    float: left;
    position: relative;
    margin-right: 20px
}
header nav .nav-item.has-mega {
    position: static !important
}
header nav .nav-item>a {
    line-height: 32px;
    color: #333
}
header nav .nav-item>a:hover {
    color: #eb3e32
}
header nav .nav-item>.fa {
    color: #333;
    right: 0;
    top: 33px
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    line-height: 1.4
}
h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a {
    text-decoration: none;
    font-weight: inherit
}
ul {
    list-style: none outside
}
ol {
    list-style: decimal
}
a {
    color: #575454;
    text-decoration: none;
    background: transparent;
}
a:hover {
    color: #eb3e32;
    text-decoration: none;
    cursor: pointer
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto
}
.clearfix {
    *zoom:1
}
.clearfix:after {
    content: "";
    display: table;
    clear: both
}
.a-center {
     text-align: center !important
 }
.a-left {
    text-align: left !important
}
.a-right {
    text-align: right !important
}
.f-left {
    float: left !important
}
.f-right {
    float: right !important
}
.f-none {
    float: none !important
}
.no-padding-left {
    padding-left: 0
}
@media (max-width: 1199px) {
    .no-padding-left {
        padding-left:15px !important
    }
}
.row.row-gutter-10 {
    margin-left: -5px;
    margin-right: -5px
}
.row.row-gutter-10>[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px
}
.row.row-noGutter {
    margin-left: 0;
    margin-right: 0
}
.row.row-noGutter-2 {
    margin-left: 0;
    margin-right: 0
}
.row.row-noGutter-2>[class*="col-"] {
    padding-left: 0;
    padding-right: 0
}
.row.row-noGutter-75 {
    margin-left: -7.5px;
    margin-right: -7.5px
}
.row.row-noGutter-75>[class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px
}
.margin-top-20 {
    margin-top: 20px !important
}
@media (min-width: 1200px) {
    .col-lg-21 {
        width:17.5%
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-21 {
        width:17.5%
    }
}
@media (min-width: 1200px) {
    .col-lg-22 {
        width:22.5%
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-22 {
        width:22.5%
    }
}
@media (min-width: 1200px) {
    .col-lg-23 {
        width:37.5%
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-23 {
        width:37.5%
    }
}
.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0
}
.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 3px
}
.no-padding {
    padding: 0
}
.rte>div {
    margin-bottom: 15px
}
.btn-continus {
    height: 40px !important;
    line-height: 40px !important;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 25px !important;
    background: #ec2c1e !important;
    border: 1px solid #ec2c1e !important
}
.btn-continus:hover {
    border: 1px solid #eb3e32;
    background: #fff !important;
    color: #eb3e32 !important
}
.btn,input[type="submit"] {
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -ms-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 0
}
.btn[disabled],input[disabled][type="submit"],.btn.disabled,input.disabled[type="submit"] {
    cursor: default;
    background-color: #e1e1e1
}
.btn.btn-primary,input.btn-primary[type="submit"] {
    background: #eb3e32;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    border: 1px solid transparent
}
.btn.btn-primary:hover,input.btn-primary[type="submit"]:hover {
    background: #fff;
    color: #eb3e32;
    border: 1px solid #eb3e32
}
.btn.btn-circle,input.btn-circle[type="submit"] {
    border-radius: 50%;
    padding: 0
}
.btn.btn-large,input.btn-large[type="submit"] {
    height: 50px;
    line-height: 50px;
    padding: 0 74px
}
.btn.btn-small,input.btn-small[type="submit"] {
    height: 34px;
    line-height: 34px;
    padding: 0 32px;
    font-size: .85714em
}
.btn.btn-dark,input.btn-dark[type="submit"] {
    background: #2a2a2a;
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    color: #fff
}
.btn.btn-white,input.btn-white[type="submit"] {
    background: #fff;
    color: #444;
    border: 1px solid #e1e1e1;
    font-weight: 400
}
.btn.btn-white:hover,input.btn-white[type="submit"]:hover {
    background: #ed5449;
    color: #fff
}
.btn.btn-gray,input.btn-gray[type="submit"] {
    background: #9e9e9e;
    color: #fff
}
.btn.btn-gray:hover,input.btn-gray[type="submit"]:hover {
    background: #eb3e32
}
.btn.btn-gray a,input.btn-gray[type="submit"] a {
    color: #fff
}
.btn.btn-full,input.btn-full[type="submit"] {
    display: block;
    width: 100%
}
.btn-link {
    line-height: 40px;
    color: #eb3e32
}
.btn-link:hover {
    text-decoration: underline
}

/* Style */
.header {
    position: relative;
    z-index: 1000;
    float: left;
    width: 100%
}
.topbar {
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.2);
    line-height: 36px;
    background: #eb3e32;
    font-size: 13px
}
.topbar .topbar-left li {
    font-size: 13px;
    display: inline-block;
}
.topbar .topbar-left li a {
    font-size: 13px;
    font-weight: 400;
    color: #fff
}
.topbar .topbar-left li a:hover {
    color: #fff
}
.topbar .topbar-left li:first-child {
    margin-right: 5px
}
@media (max-width: 767px) {
    .topbar .topbar-right {
        text-align:center !important
    }
}
@media (max-width: 767px) {
    .topbar .topbar-right .list-inline {
        float: none !important
    }
}
.topbar .topbar_right li {
    font-size: 13px
}
.content-header {
    padding: 6px 0;
    background: #eb3e32;
    width: 100%
}
.logo {
    display: inline-block;
    font-size: 2.815em;
    margin-top: 0
}
.content-header .nav-header .header-left {
    float: left;
    width: 100%
}
.content-header .nav-header .header-left.header-search {
    margin: 14px 0 5px 0;
    position: relative;
}
.content-header .nav-header .header-left.header-search .search-bar {
    background: #fff;
    margin-bottom: 0;
    display: table;
    border-collapse: separate;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.content-header .nav-header .header-left.header-search .search-bar .input-group-field {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    height: 40px;
    padding: 0 25px 0 20px;
    font-size: 13px;
    max-width: 100%;
    display: block;
    border-radius: 0;
    border: 0;
    outline: none
}
.content-header .nav-header .header-left.header-search .search-bar .input-group-field::-webkit-input-placeholder {
    color: #acacac
}

.content-header .nav-header .header-left.header-search .search-bar .input-group-field::-moz-placeholder {
    color: #acacac
}
.content-header .nav-header .header-left.header-search .search-bar .input-group-field:-ms-input-placeholder {
    color: #acacac
}
.content-header .nav-header .header-left.header-search .search-bar .input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    margin: 0
}
.content-header .nav-header .header-left.header-search .search-bar .input-group-btn .icon-fallback-text {
    background: #ffba00;
    color: #fff;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 25px;
    margin-right: 3px;
    text-transform: uppercase;
    border-radius: 3px
}
.content-header .nav-header .header-right {
    position: relative;
    float: right
}
@media (max-width: 991px) {
    .content-header .nav-header .header-right {
        float:left;
        width: 100%
    }
}
.content-header .nav-header .header-right .hotline {
    width: 165px;
    float: left;
    padding: 15px 0
}
@media (min-width: 992px) and (max-width: 1199px) {
    .content-header .nav-header .header-right .hotline {
        width:151px
    }
}
@media (max-width: 767px) {
    .content-header .nav-header .header-right .hotline {
        position:absolute;
        top: 0;
        left: 0
    }
}
.content-header .nav-header .header-right .hotline .icon-hotline {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    float: left;
    margin-right: 10px;
    padding-left: 2px;
    border: 2px solid #fff
}
@media (max-width: 321px) {
    .content-header .nav-header .header-right .hotline .icon-hotline {
        margin-right:7px
    }
}
.content-header .nav-header .header-right .hotline .icon-hotline .fa {
    font-size: 16px
}
.content-header .nav-header .header-right .hotline .content-hotline {
    line-height: 17px;
    margin-top: 4px;
    padding-left: 40px
}
.content-header .nav-header .header-right .hotline .content-hotline a {
    color: #fff;
    font-weight: bold;
    display: block
}
.content-header .nav-header .header-right .hotline .content-hotline a:hover {
    color: #ffba00
}
.content-header .nav-header .header-right .hotline .content-hotline span {
    color: #ffdada;
    font-size: 12px
}
.mini-cart .heading-cart {
    float: left;
    padding: 15px 0
}
.mini-cart .heading-cart .icon-hotline {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    float: left;
    border: 2px solid #fff
}
.mini-cart .heading-cart .icon-hotline .fa {
    font-size: 14px
}
.mini-cart .heading-cart .content-cart-header {
    line-height: 18px;
    padding-left: 10px;
    margin-top: 4px;
    float: right
}
@media (max-width: 321px) {
    .mini-cart .heading-cart .content-cart-header {
        padding-left:5px
    }
}
.mini-cart .heading-cart .bg_cart {
    color: #fff;
    font-size: 14px;
    font-weight: bold
}
.mini-cart .heading-cart .bg_cart i {
    font-size: 24px;
    color: #eb3e32;
    display: block;
    float: left;
    line-height: 30px;
    width: 100%
}
@media (max-width: 991px) {
    .mini-cart .heading-cart .bg_cart i {
        margin-right:30px
    }
}
.mini-cart .heading-cart .bg_cart .text-shopping-cart {
    font-size: 12px;
    color: #ffdada;
    font-weight: 400;
    display: block
}
.mini-cart:hover .top-cart-content {
    display: block
}
.mini-cart .dropdown-toggle {
    font-size: 12px;
    padding: 0;
    text-transform: none
}
.top-cart-contain .price {
    color: #eb3e32;
    text-transform: uppercase
}
.top-cart-contain .mini-cart .price {
    display: block;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px !important;
    font-weight: bold;
    font-family: 'Arial',sans-serif;
    color: #eb3e32
}
.top-cart-content {
    right: 0;
    top: 65px;
    display: none;
    position: absolute;
    background: #fff;
    padding: 0;
    text-align: left;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.4);
    z-index: 10000
}
.top-cart-content .empty {
    text-align: left;
    color: #333
}
.top-cart-content .product-details-bottom {
    margin-bottom: 15px
}
.top-cart-content .product-name {
    margin: 0;
    width: 170px;
    line-height: 22px;
    padding-right: 12px;
    text-overflow: ellipsis;
    font-weight: 400;
    overflow: hidden
}
.top-cart-content .product-name a {
    font-size: 14px;
    line-height: 20px !important;
    font-weight: 400;
    color: #444
}
.top-cart-content .product-name:hover>a {
    text-decoration: none;
    color: #eb3e32
}
.top-cart-content .product-details-bottom span {
    font-size: 13px;
    font-weight: 400;
    color: #222222
}
.top-cart-content li {
    list-style: none
}
.top-cart-content li.item {
    border-top: solid 1px #ebebeb;
    overflow: hidden;
    padding: 15px 0 15px 0;
    position: relative
}
.top-cart-content li.item:first-child {
    border-top: none;
    margin-top: 0
}
.top-cart-content li.item:last-child {
    margin: 0;
    border-bottom: 0
}
.top-cart-content li.item .wrap_item {
    overflow: hidden;
    padding: 20px 20px 20px 0;
    border-bottom: solid 1px #ebebeb;
    width: 100%;
    float: left
}
.top-cart-content li.item .product-image {
    float: left;
    display: block;
    width: 85px;
    position: relative;
    margin-right: 15px
}
.top-cart-content li.item .detail-item {
    display: block;
    float: left;
    width: calc(100% - 105px);
    -o-width: calc(100% - 105px);
    -moz-width: calc(100% - 105px);
    -webkit-width: calc(100% - 105px)
}
.top-cart-content li.item .detail-item a:hover {
    text-decoration: none
}
.top-cart-content li.item .detail-item .fa {
    position: absolute;
    right: 5px;
    top: 15px;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px
}
.top-cart-content li.item .detail-item .fa:hover {
    color: #eb3e32
}
.top-cart-content li.item .detail-item .fa:before {
    margin-left: 4px
}
.top-cart-content li.item .detail-item input {
    display: inline-block;
    width: 40px;
    padding: 0;
    text-align: center
}
.top-cart-content li.item .detail-item button.items-count {
    display: inline-block
}
.top-cart-content .block-subtitle {
    color: #333;
    overflow: hidden;
    padding: 15px;
    text-align: left;
    font-size: .92857em;
    background: #f5f5f5;
    text-transform: none;
    font-weight: 400;
    border-bottom: 1px #ebebeb solid
}
ul#cart-sidebar {
    padding: 20px;
    margin: 0;
    max-height: 625px;
    min-width: 330px
}
ul#cart-sidebar .list-item-cart {
    max-height: 290px;
    overflow: auto
}
ul#cart-sidebar .list-item-cart::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5
}
ul#cart-sidebar .list-item-cart::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5
}
ul#cart-sidebar .list-item-cart::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #eb3e32
}
ul#cart-sidebar .list-item-cart li.list-item {
    max-height: 400px;
    overflow-y: auto
}
ul#cart-sidebar .list-item-cart li.action {
    display: none
}
ul#cart-sidebar .list-item-cart.hasclass li.action {
    display: block
}
ul#cart-sidebar .list-item-cart li.list-item .price2 {
    font-weight: 700;
    color: #eb3e32;
    font-size: 14px;
    display: list-item;
    margin-bottom: 5px
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar {
    width: 5px
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.9)
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-thumb {
    background: #eb3e32;
    border-radius: 15px
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-thumb:hover,ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-thumb:active {
    background: #eb3e32;
    border-radius: 15px
}
ul#cart-sidebar .no-item {
    height: 40px
}
ul#cart-sidebar .no-item p {
    margin: 0;
    line-height: 3
}
ul#cart-sidebar .right_ct {
    text-align: center;
    padding-top: 10px
}
ul#cart-sidebar .right_ct .btn {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400
}
ul#cart-sidebar .right_ct .btn.btn-primary {
    margin-right: 10px !important;
    background: #eb3e32;
    color: #fff
}
ul#cart-sidebar .right_ct .btn.btn-primary:hover {
    color: #eb3e32;
    background: #fff;
    border: 1px solid #eb3e32
}
ul#cart-sidebar .right_ct .btn.btn-white {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    border: none;
    color: #fff;
    background: #3d4356
}
ul#cart-sidebar .right_ct .btn.btn-white:hover {
    color: #fff;
    background: #3d4356;
    border: 0
}
.nav-menu-header {
    display: block;
    float: left;
    width: 100%;
    height: 55px;
    background: #393a44
}
.col-mega {
    float: left;
    height: 0;
}
.menu-mega {
    position: relative
}
.menu-mega .title-menu {
    padding: 0 20px;
    position: relative;
    height: 55px;
    line-height: 55px;
    background: #ffba00;
    color: #fff
}
.menu-mega .title-menu .title_ {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: none;
    line-height: 55px;
    display: block;
    padding-left: 30px
}
@media (max-width: 1199px) {
    .menu-mega .title-menu .title_ {
        font-size:15px
    }
}
.menu-mega .title-menu .nav-button {
    position: absolute;
    left: 20px;
    top: 0
}
.menu-mega .title-menu .nav-button span {
    font-size: 18px;
    float: right
}
.menu-mega:hover .list-menu-header {
    overflow: visible;
    max-height: 3000px;
    max-width: 3000px;
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end
}
.bg-header-nav .header-nav>ul.item-big {
    text-align: left;
    margin: 0;
    padding: 0
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item {
    display: inline-block;
    float: none;
    position: relative;
    margin-right: 0;
    margin-left: 1px
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>a {
    display: block;
    text-align: left;
    padding: 0 17px;
    font-size: 15px;
    font-weight: 500;
    height: 55px;
    line-height: 55px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    color: #fff
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>a>i {
    margin-left: 10px
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item:hover>a {
    color: #eb3e32
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item:hover>ul {
    overflow: visible;
    max-height: 3000px;
    max-width: 3000px;
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
    transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item .item_small {
    overflow: hidden;
    display: block;
    max-height: 0;
    max-width: 0;
    opacity: 0;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
    position: absolute;
    top: 100%;
    left: 20px;
    width: 200px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li {
    float: none;
    padding: 0 20px
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li:last-child>a {
    border-bottom: 0
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li:hover>ul {
    display: block;
    position: absolute;
    width: 200px;
    padding: 0;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2)
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 12px 5px 12px 0;
    color: #444;
    position: relative;
    border-bottom: solid 1px #e5e6ec
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li a:hover {
    color: #eb3e32
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li a i {
    position: absolute;
    right: -10px;
    padding: 0 10px;
    top: 0;
    line-height: 47px
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul li ul {
    display: none;
    left: 200px;
    top: 0
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul>li {
    color: #fff
}
.bg-header-nav .header-nav>ul.item-big>li.nav-item>ul>li:hover>a {
    color: #eb3e32
}
.bg-header-nav .header-nav>ul.item-big>li.active>a {
    color: #eb3e32
}
.bg-header-nav .header-nav>ul.item-big>li:first-child.active>a {
    color: #eb3e32;
    padding-left: 10px
}
.label_ {
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: -12px;
    right: 10px
}
.label_ i {
    background: #eb3e32;
    width: 33px;
    position: relative;
    right: 0;
    top: -13px;
    font-style: normal;
    text-transform: uppercase;
    height: 16px;
    border-radius: 0;
    font-size: 10px;
    font-weight: 400;
    padding: 2px 5px
}
.label_ i:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 35%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #007bff transparent transparent transparent
}
.label_ i.new {
    background: #5bca3d;
    border: 1px solid #5bca3d
}
.label_ i.new:before {
    border-color: #5bca3d transparent transparent transparent
}
.label_ i.sale {
    background: #eb3e32;
    border: 1px solid #eb3e32
}
.label_ i.sale:before {
    border-color: #eb3e32 transparent transparent transparent
}
.label_ i.hot {
    background: #ffba00;
    border: 1px solid #ffba00
}
.label_ i.hot:before {
    border-color: #ffba00 transparent transparent transparent
}
footer.footer .bct {
    float: left;
    width: 100%
}
@media (max-width: 767px) {
    footer.footer .bct {
        margin-bottom:15px
    }
}
footer .bct ul li {
    display: inline-block
}
footer .bct ul li:nth-child(1) {
    margin-right: 10px
}
footer .widget-db {
    margin-top: 7px;
    float: left;
    width: 100%
}
footer .widget-ft {
    padding-bottom: 40px;
    padding-left: 30px
}

footer .widget-ft.first {
    border-left: none;
    padding-left: 0
}

footer .widget-ft.last {
    float: left;
    width: 100%;
    padding-bottom: 61px
}
@media (max-width: 1199px) {
    footer .widget-ft {
        padding-left: 0;
        padding-bottom: 0;
        border-left: 0
    }
}
@media (max-width: 767px) {
    footer .widget-ft {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        border-left: 0;
        border-bottom: 1px dashed #ebebeb
    }
    footer .widget-ft.last-child {
        border-bottom: 0;
        margin-bottom: 0
    }
    footer .widget-ft.last {
        padding-bottom: 0;
        border-bottom: none
    }
}
footer .widget-ft .title-db {
    padding-bottom: 0
}
footer .widget-ft .title-menu4 {
    color: #444;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    position: relative;
    margin-bottom: 5px
}
footer .widget-ft .title-menu4 a {
    color: #444
}
footer .widget-ft .title-menu4.icon_none_first {
    margin-top: 20px
}
@media (max-width: 767px) {
    footer .widget-ft .title-menu4.icon_none_first {
        margin-top:0px
    }
}
footer .copyright {
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    position: relative;
    padding: 10px 0;
    background: #fff;
    border-top: 1px solid #ebebeb
}
@media (max-width: 991px) {
    footer .copyright {
        margin-top:25px
    }
}
footer .copyright span.wsp {
    color: #444
}
footer .copyright span.wsp .mobile {
    opacity: 1
}
footer .copyright span.wsp .mobile b {
    color: #eb3e32
}
footer .copyright a {
    font-weight: 700;
    color: #eb3e32;
    opacity: 1
}
footer .copyright a:hover {
    color: #eb3e32 !important;
    opacity: 1
}
footer .copyright .ul_menu_fot {
    float: right
}
footer .copyright .ul_menu_fot li {
    float: left;
    font-size: 13px;
    margin: 0 7px
}
footer .copyright .ul_menu_fot li:last-child {
    margin: 0 0 0 10px
}
footer .copyright .ul_menu_fot li a {
    text-decoration: none;
    color: #acacac
}
@media (min-width: 768px) and (max-width: 991px) {
    footer -inner .col-sm-6:nth-child(2n+1) {
        clear:left
    }
}
@media (min-width: 992px) {
    footer .copyright .inner .row.tablet {
        display:flex;
        flex-flow: row
    }
    footer .copyright .inner .row.tablet #copyright {
        order: 1
    }
    footer .copyright .inner .row.tablet #menu_fot {
        order: 2
    }
}
@media (max-width: 991px) {
    footer .copyright .inner .fot_copyright {
        text-align:center !important
    }
    footer .copyright .inner .fot_menu_copyright .ul_menu_fot {
        width: 100%;
        padding-right: 0;
        text-align: center
    }
    footer .copyright .inner .fot_menu_copyright .ul_menu_fot li {
        float: none;
        display: inline-block
    }
}
@media (max-width: 767px) {
    footer .copyright .inner .wsp {
        overflow:hidden;
        padding: 15px 0;
        display: block
    }
    footer .copyright .inner .mobile {
        display: block;
        width: 100%;
        text-align: center !important;
        line-height: 24px
    }
    footer footer .site-footer h4 {
        padding: 15px 0 0;
        font-size: 17px;
        cursor: pointer;
        margin: 0 0 15px;
        border-top: solid 1px #2d3753
    }
    footer footer -inner .col-xs-12:nth-child(2) {
        margin-top: 20px
    }
    footer .padding-bottom-50 {
        padding-bottom: 20px !important
    }
}
footer .logo {
    padding-bottom: 15px
}
footer .logo a img {
    width: auto;
    max-height: 80px
}
@media (max-width: 1199px) {
    footer .logo a {
        font-size:62px
    }
    footer .logo a img {
        max-height: 60px
    }
}
@media (max-width: 767px) {
    footer .logo {
        text-align:left;
        padding: 0
    }
    footer .logo a {
        font-size: 60px;
        line-height: 60px
    }
    footer .logo a img {
        width: auto;
        max-height: 60px
    }
}
@media (max-width: 480px) {
    footer .logo {
        text-align:center
    }
}
footer ul.contact {
    margin-bottom: 30px
}
@media (max-width: 991px) {
    footer ul.contact {
        margin-bottom:10px
    }
}
footer ul.contact.contact_x {
    margin-bottom: 10px
}
footer ul.contact.contact_x .sdt {
    display: inline-block
}
footer ul.contact.contact_x .line {
    display: inline-block;
    padding: 0 3px;
    color: #898989
}
footer ul.contact.contact_x li {
    color: #898989
}
footer ul.contact.contact_x li b {
    color: #444
}
footer ul.contact.contact_x li a {
    color: #898989
}
footer ul.contact.contact_x li a:hover {
    color: #eb3e32
}
footer ul.contact li {
    font-size: 13px;
    position: relative;
    color: #444;
    margin-bottom: 0 !important;
    line-height: 20px
}
footer ul.contact li:nth-child(1) {
    margin-bottom: 0
}
@media (max-width: 1199px) and (min-width: 992px) {
    footer ul.contact li:nth-child(1) {
        margin-bottom: 0
    }
}
footer ul.contact li i.fa {
    float: left;
    position: relative;
    top: 0;
    border-radius: 3px;
    width: 28px;
    text-align: center;
    height: 28px;
    display: block;
    margin-right: 5px;
    margin-top: -2px;
    padding-left: 2px;
    line-height: 28px;
    color: #eb3e32;
    background-repeat: no-repeat
}
footer ul.contact li .txt_content_child {
    display: inherit
}
footer ul.contact li a {
    color: #444
}
footer ul.contact li a:hover {
    color: #fff
}
footer ul.contact li.sdt a {
    margin-right: 0
}
@media (min-width: 1200px) {
    footer ul.contact li.sdt a:after {
        content:"-";
        margin-left: 5px
    }
}
footer ul.contact li.sdt a:last-child {
    margin-right: 0
}
footer ul.contact li.sdt a:last-child:after {
    display: none
}
@media (max-width: 1199px) {
    footer ul.contact li.sdt .email_style {
        display:block
    }
}
footer .site-footer {
    background: #fff;
    border-top: 1px solid #ebebeb;
    width: 100%;
    height: 100%;
    margin-top: -5px;
    overflow-x: hidden;
    overflow-y: hidden
}
footer .title-menu-first {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 30px;
    color: #fff
}
footer .title-menu {
    line-height: normal;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin: 0 0 15px;
    padding-top: 30px;
    color: #444
}
footer .title-menu a {
    cursor: default;
    font-size: 14px;
    text-transform: uppercase;
    color: #444;
    font-weight: 700;
    position: relative
}
@media (max-width: 374px) {
    footer .title-menu a {
        font-size:13px
    }
}
footer .title-menu a i.fa {
    display: none
}
footer .title-menu a:hover {
    color: #eb3e32
}
@media (max-width: 767px) {
    footer .title-menu {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0
    }
    footer .title-menu a {
        padding: 15px 20px 15px 0;
        line-height: 22px;
        display: block;
        cursor: pointer
    }
    footer .title-menu a i.fa {
        display: block;
        position: absolute;
        right: -10px;
        width: 30px;
        top: 12px;
        text-align: center;
        height: 30px;
        line-height: 30px
    }
    footer .title-menu a i.fa:before {
        content: "\f068"
    }
    footer .title-menu a.collapsed i.fa:before {
        content: "\f067"
    }
}
footer .img_project_footer .item_tab_cl {
    padding-left: 0
}
footer .img_project_footer .item_tab_cl .blog-thumbnail {
    cursor: pointer
}
footer .name_company {
    font-size: 14px;
    color: #eb3e32;
    text-transform: uppercase;
    font-weight: bold
}
@media (max-width: 320px) {
    footer .name_company {
        font-size:13px
    }
}
@media (min-width: 768px) {
    footer .collapse {
        display:block
    }
}
footer .list-menu {
    line-height: 35px
}
footer .list-menu.list-menu-time {
    line-height: normal
}
footer .list-menu.hotline_ul {
    font-weight: bold;
    font-size: 16px;
    color: #eb3e32
}
footer .list-menu.hotline_ul a {
    font-size: 16px;
    color: #eb3e32
}
footer .list-menu .li_menu {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 32px
}
footer .list-menu .li_menu:hover {
    color: #eb3e32
}
footer .list-menu .li_menu:hover>a {
    color: #eb3e32;
    opacity: 1
}
footer .list-menu .li_menu a {
    color: #898989
}
footer .list-menu .li_menu a:hover {
    color: #eb3e32
}
.backtop {
    position: fixed;
    bottom: 40px;
    z-index: 99;
    top: auto !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    background: #eb3e32;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.backtop .fa {
    font-size: 22px;
    color: #fff;
    font-weight: bold
}
.backtop.show {
    opacity: 1
}
@media (min-width: 1441px) {
    .backtop {
        right:15px;
        bottom: 20px
    }
    .phone_backtotop {
        bottom: 30px !important;
        left: 50px
    }
}
@media (min-width: 1200px) and (max-width: 1440px) {
    .backtop {
        right: 15px;
        bottom: 30px
    }
    .phone_backtotop {
        bottom: 48% !important;
        left: 30px
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .backtop {
        right:25px;
        bottom: 40px
    }
    .phone_backtotop {
        bottom: 48% !important;
        left: 30px
    }
}
@media (max-width: 767px) {
    .backtop {
        right:11%;
        bottom: 20px
    }
    .phone_backtotop {
        bottom: 48% !important;
        left: 30px
    }
}
.title-top-menu h3 {
    margin: 0;
    padding: 10px 28px 10px 28px;
    font-size: 24px;
    line-height: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 400;
    background: #eb3e32;
    text-transform: uppercase;
    display: inline-block
}
.title-top-menu h3 a {
    color: #fff
}
.section-1 {
    margin-bottom: 40px;
}
.slider-products {
    margin: 20px 0;
    padding: 10px
}
.collection-name-title {
    color: #333;
    text-decoration: none
}
.slider-products .see-more-products {
    display: inline-block;
    margin: 15px;
}
.slider-products .border-bottom-title {
    margin: 0 15px;
    position: relative
}
.slider-products .border-bottom-title:before {
    position: absolute;
    bottom: -46px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #eb3e32
}
.slider-products .owl-carousel {
    background: #f1f1f1;
}
.owl-wrapper-outer {
    border: none
}
.owl-wrapper-outer .owl-item {
    margin-right: 10px
}
.product-box {
    min-height: 355px;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    display: block;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
    border-radius: .125rem;
    overflow: hidden;
    background: #fff;
    position: relative;
    margin-bottom: .625rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
     -webkit-transition: box-shadow .1s cubic-bezier(.4,0,.6,1),-webkit-transform .1s cubic-bezier(.4,0,.6,1);
     transition: box-shadow .1s cubic-bezier(.4,0,.6,1),-webkit-transform .1s cubic-bezier(.4,0,.6,1);
     transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);
     transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1),-webkit-transform .1s cubic-bezier(.4,0,.6,1)
}
@media (min-width: 768px) and (max-width: 1199px) {
    .product-box {
        min-height:355px !important
    }
}
.product-box .sale-flash {
    position: absolute;
    font-size: 18px;
    color: #fff;
    padding: 0 10px;
    width: 44px;
    height: 44px;
    line-height: 42px;
    font-weight: 400;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat
}
.product-box .sale-flash.new {
    background-image: url("//bizweb.dktcdn.net/100/311/807/themes/701136/assets/label_new.png?1545368649928")
}
.product-box .sale-flash.sale {
    background-image: url("//bizweb.dktcdn.net/100/311/807/themes/701136/assets/label_sale.png?1545368649928")
}
.product-box .sale-flash.tagdacbiet_sale {
    background-image: url("//bizweb.dktcdn.net/100/311/807/themes/701136/assets/label_sale_50.png?1545368649928");
    height: 45px;
    line-height: 15px;
    font-size: 11px;
    left: 10px;
    padding: 5px 0;
    right: unset
}
.product-box .sale-flash.tagdacbiet_sale .font16 {
    font-size: 16px
}
.product-box .tagmakm_sale {
    width: 218px;
    float: left;
    height: 28px;
    background-image: url("//bizweb.dktcdn.net/100/311/807/themes/701136/assets/bg_discount.png?1545368649928");
    background-repeat: no-repeat;
    line-height: 28px;
    padding: 0 15px 0 10px;
    color: #fff;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 0
}
@media (max-width: 1199px) {
    .product-box .tagmakm_sale {
        width:100%;
        background-size: cover
    }
}
@media (max-width: 374px) {
    .product-box .tagmakm_sale {
        padding: 0 0 0 15px
    }
}
.product-box .tagmakm_sale .codekm {
    text-transform: uppercase;
    line-height: 12px;
    text-align: center;
    padding: 2px 0
}
.product-box .tagmakm_sale .codekm .codekm_1 {
    font-size: 8px
}
.product-box .tagmakm_sale .codekm .codekm_2 {
    font-size: 12px
}
@media (max-width: 374px) {
    .product-box .tagmakm_sale .codekm .codekm_2 {
        font-size: 11px
    }
}
.product-box .tagmakm_sale .price_km {
    font-size: 18px
}
@media (max-width: 374px) {
    .product-box .tagmakm_sale .price_km {
        font-size:9px;
        margin-right: 2px
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .product-box .tagmakm_sale .price_km {
        font-size:10px
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .product-box .tagmakm_sale .price_km {
        font-size:14px
    }
}
.product-box .wrap_time {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}
.product-box .wrap_time .time {
    text-align: center;
    justify-content: center;
    display: flex;
    -o-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    width: 100%;
    overflow: hidden
}
.product-box .wrap_time .time span {
    display: inline-block;
    width: 44px;
    float: left;
    padding: 3px;
    border-radius: 3px;
    margin: 0 2.5px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    line-height: 20px
}
@media (max-width: 1199px) {
    .product-box .wrap_time .time span {
        font-size:16px
    }
}
.product-box .wrap_time .time span p {
    display: block;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    line-height: 18px
}
@media (max-width: 1199px) {
    .product-box .wrap_time .time span p {
        font-size:12px
    }
}
.product-box:hover .product-action {
    visibility: visible
}
.product-box:hover {
    border: 1px solid #ee4d2d;
    z-index: 2;
    box-shadow: 0 0.0625rem 20px 0 rgba(0,0,0,.05);
    -webkit-transform: translateY(-.0625rem);
    transform: translateY(0.0625rem);
}
@media (max-width: 1199px) {
    .product-box {
        padding: 0 !important
    }
}
@media (max-width: 374px) {
    .product-box {
        min-height:270px !important
    }
}
@media (min-width: 374px) and (max-width: 413px) {
    .product-box {
        min-height:290px !important
    }
}
@media (min-width: 414px) and (max-width: 543px) {
    .product-box {
        min-height:300px !important
    }
}
.product-box .product-hide {
    margin-top: 2px
}
.product-box .product-thumbnail {
    position: relative
}
.product-box .product-thumbnail>div {
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 100%;
    height: 100%
}
.product-box .product-action {
    text-align: left;
    display: none;
    margin-top: 10px !important;
    position: absolute;
    width: 100%
}
.product-box .product-action .btn.btn-cart {
    width: 120px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    color: #fff;
    background: #eb3e32;
    margin-right: 2px
}
.product-box .product-action .btn.btn-cart .fa {
    color: #fff;
    padding-right: 8px
}
.product-box .product-action .btn.btn-cart:hover {
    background: #d92b1f
}
.product-box .product-action .xem_nhanh {
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    background: #eb3e32;
    display: inline-block
}
.product-box .product-action .xem_nhanh .fa {
    color: #fff
}
.product-box .product-action .xem_nhanh:hover {
    background: #d92b1f
}
.product-box .product-info {
    z-index: 10;
    position: relative;
    padding: 1.125rem .625rem .625rem;
    float: left;
    width: 100%
}
.product-box .product-info .product-name {
    word-wrap: break-word;
    line-height: 1.125rem;
    height: 2.25rem;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}
.product-box .product-info .product-name>div {
    display: inline;
    line-height: 18px;
    display: contents;
}
.product-box .product-info .product-name a {
}
.product-box .product-info .product-name a:hover {
    color: #eb3e32
}
.product-box .product-info .product-hide .price-box .special-price {
    display: inline-block;
    margin-right: 7px
}
.product-box .product-info .product-hide .price-box .old-price {
    display: inline-block
}
.product-box .product-info .product-price {
    padding: .3125rem 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.product-price .old-price {
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
    margin-right: 5px;
}
.product-price .special-price {
    max-width: calc(100% - 22px);
    color: #ee4d2d;
    display: inline;
    font-size: 1.42857em;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
@media (min-width: 1200px) {
    .product-box:hover .product-name {
        text-align:left
    }
    .product-box:hover .product-hides {
        display: none
    }
    .product-box:hover .product-action {
        display: block
    }
}
@media (min-width: 1200px) {
    .product-box:hover .quick-view {
        opacity:1 !important
    }
}
.h-space {
    height: 1.125rem
}
.bread-crumb {
    display: block;
    width: 100%;
    background-color: #e6e6e6;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 40px
}
.bread-crumb .breadcrumb {
    margin: 0;
    font-size: 14px;
    padding: 15px 0;
    border-radius: 0;
    background-color: #e6e6e6
}
.bread-crumb .breadcrumb li {
    display: inline;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif
}
.bread-crumb .breadcrumb li>a {
    color: #333
}
.bread-crumb .breadcrumb li>a>span {
    color: #333
}
.bread-crumb .breadcrumb li span {
    display: inline;
    color: #eb3e32
}
.bread-crumb .breadcrumb li span .fa {
    color: #323c3f;
    margin: 0 7px;
    font-weight: 400
}
.bread-crumb .breadcrumb li a:hover,.bread-crumb .breadcrumb li.active,.bread-crumb .breadcrumb li strong {
    color: #eb3e32;
    font-weight: 400
}
.bread-crumb .breadcrumb>li+li:before {
    display: none
}
.details-product .rows {
    padding: 10px;
    background-color: #fff;
    overflow: auto
}
.title-product {
    color: #444;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 8px;
    font-weight: 400
}
@media (min-width: 1200px) {
    .details-pro {
        padding-left: 30px;
        padding-right: 0
    }
}
.details-pro .group-status {
    font-size: 14px;
    margin-bottom: 8px
}
.details-pro .group-status .status-name {
    color: #eb3e32
}
.details-pro .group-status .status-name.availabel {
    color: green;
}
.details-pro .reviews-details-product {
    margin-top: 0;
    margin-bottom: 3px;
    overflow: hidden
}
.details-pro .reviews-details-product .product-reviews-badge {
    margin: 0 auto;
    padding: 0;
    float: left
}
.details-product .details-pro .product-price {
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    color: #eb3e32;
    font-weight: bold
}
.details-product .details-pro .price-box {
    margin: 10px 0 15px
}
.details-product .details-pro .price-box del {
    color: #888888;
    font-size: 16px;
    margin-left: 10px
}
.details-pro .product-summary {
    margin-bottom: 10px;
    padding: 0 0 5px 0
}
.details-pro .product-summary.product-description {
    margin-bottom: 0;
}
.details-pro .product-summary .if {
    font-size: 14px;
    color: #333;
    line-height: 24px
}
.details-pro .product-summary .rte {
    font-size: 14px;
    color: #888;
    line-height: 22px;
    font-family: 'Arial',sans-serif
}
.details-pro .product-summary .rte img {
    display: none
}
.details-product .details-pro .custom-btn-number {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    width: 150px;
    margin-right: 10px;
    display: block;
    height: 40px
}
@media (min-width: 768px) and (max-width: 991px) {
    .details-product .details-pro .custom-btn-number {
        width:100%;
        display: block;
        margin-right: 0
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .details-product .details-pro .custom-btn-number {
        margin-right:15px;
        width: 153px
    }
}
.details-product .details-pro .custom-btn-number label {
    font-size: 14px
}
.details-product .details-pro .custom-btn-number #qty {
    height: 45px;
    font-size: 1.28571em;
    margin: 0
}
.details-product .details-pro .custom-btn-number .qtyminus {
    position: absolute;
    left: 25px;
    top: 4px;
    font-size: 1.42857em
}
.details-product .details-pro .custom-btn-number .qtyplus {
    position: absolute;
    right: 25px;
    top: 4px;
    font-size: 1.42857em
}
.button_actions {
    width: 100%;
    display: inline-block;
    float: left
}
.button_actions .btn_base {
    font-size: 14px;
    outline: none;
    box-shadow: none;
    padding: 6px 0 4px 0;
    color: #fff;
    height: auto;
    line-height: inherit;
    width: calc(50% - 7px);
    border-radius: 3px;
    background: #eb3e32;
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    margin-right: 5px
}
@media (max-width: 991px) {
    .button_actions .btn_base {
        width:100%
    }
}
.button_actions .btn_base .text_1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    display: block;
    width: 100%;
    text-align: center
}
.button_actions .btn_base .text_2 {
    font-size: 12px;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    display: block;
    width: 100%;
    text-align: center
}
.button_actions .btn_base[disabled] {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif
}
.button_actions .btn_base.disabled {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    width: calc(50% - 7px);
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Open Sans","HelveticaNeue","Helvetica Neue",sans-serif
}
.button_actions .btn_base.btn_call {
    background: #444
}
@media (max-width: 991px) {
    .button_actions .btn_base.btn_call {
        width:100%;
        margin-left: 0;
        margin-top: 10px
    }
}
.form-group {
    padding-bottom: 0
}
.form-group .input_number_product {
    display: inline-flex;
    width: 65%
}
.form-group .input_number_product .btn_num {
    font-size: 22px;
    line-height: 0;
    border: solid 1px #ccc;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    float: left;
    color: #222;
    text-align: center;
    padding: 0
}
.form-group .input_number_product .btn_num.num_1 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 30px
}
.form-group .input_number_product .btn_num.num_2 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.form-group .input_number_product .btn_num:hover {
    cursor: pointer;
    background: #fff;
    color: #222;
    text-decoration: none;
    border-color: #ccc
}
.form-group .input_number_product input {
    margin: 0;
    display: block;
    float: left;
    color: #222;
    height: 40px;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    width: 70px;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px
}
.form-product {
    padding: 0
}
.form-product .form-group {
    width: 100%
}
.form-product .form-group header {
    width: 85px;
    float: left;
    line-height: 40px;
    font-size: 14px;
    color: #636363
}
.form-product form {
    margin-bottom: 15px
}
.form-product .form-product-content .label-qty {
    margin-bottom: 10px;
}
.tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden
}
.tab-content.current {
    opacity: 1;
    visibility: visible;
    height: auto;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
.details-product .tab-h {
    display: block;
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 30px
}
@media (max-width: 767px) {
    .details-product .tab-h {
        margin-top:25px
    }
}
.product-tab .tabs-title {
    background: #fff;
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: solid 1px #ebebeb
}
@media (max-width: 767px) {
    .product-tab .tab-link {
        margin: 0 0 !important
    }
}
.product-tab .tab-link {
    position: relative;
    display: inline-block;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #c1c1c1;
    padding: 0 40px;
    border-bottom: 0;
    margin-top: 0
}
@media (min-width: 768px) {
    .product-tab .tab-link:nth-child(2) {
        margin-left:0
    }
}
@media (min-width: 768px) {
    .product-tab .tab-link:nth-child(3) {
        margin-left:0
    }
}
.product-tab .tab-link h3 {
    color: #444;
    margin: 13px 0;
    font-size: 15px
}
@media (max-width: 767px) {
    .product-tab .tab-link h3 {
        margin:0
    }
}
.product-tab .tab-link span {
    color: #444;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700
}
@media (min-width: 768px) {
    .product-tab .tab-link.current {
        color:#fff;
        padding-bottom: 0;
        background: #eb3e32
    }
    .product-tab .tab-link.current h3 {
        color: #eb3e32 !important
    }
    .product-tab .tab-link.current h3 span {
        color: #fff !important
    }
}
.product-tab .tab-link.current h3 {
    color: #eb3e32
}
.product-tab .tab-link.current h3 span {
    color: #eb3e32
}
.product-tab .tab-link.current .rte {
    color: #9d9c9c;
    font-weight: 300;
    font-size: 14px;
    border: 0 solid #ebebeb;
}
.product-tab li:last-child h3 span:after {
    content: none
}
.product-tab .tab-content {
    padding:0
}
.product-tab .tab-content.current .rte {
    color: #888;
    border: solid 1px #e5e5e5;
    border-top: none;
    background: #fff;
    padding: 30px 45px 60px 30px;
    font-size: 14px
}
@media (max-width: 767px) {
    .product-tab .tab-content.current .rte {
        border-top:1px solid #e5e5e5;
        margin-top: 0;
        padding: 30px 20px 60px 20px
    }
}
.product-tab li:last-child h3 span:after {
    content: none
}
ul.tabs li {
    background: none;
    display: inline-block;
    cursor: pointer
}
ul.tabs li.current {
    color: #000;
    margin-bottom: -1px
}
@media (max-width: 767px) {
    ul.tabs li.current {
        border-bottom:none
    }
}
.product-well {
    min-height: 20px;
    padding: 0 0 35px;
    background-color: #fff;
    position: relative;
    margin-bottom: 40px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0
}
.product-well .ba-text-fpt {
    height: 300px;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s
}
.product-well.expanded .ba-text-fpt {
    height: auto;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s
}
.product-well.expanded .less-text {
    display: block
}
.product-well.expanded .more-text {
    display: none
}
.product-well.expanded .show-more::before {
    display: none
}
.product-well .show-more {
    position: relative
}
.product-well .show-more:before {
    display: block;
    content: "";
    height: 120px;
    position: absolute;
    top: -120px;
    width: 100%;
    left: 0;
    background: rgba(255,255,255,0.6);
    background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.33) 33%, rgba(255,255,255,0.8) 83%, #fff)
}
.product-well .show-more .btn--view-more {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 0;
    text-align: center;
    background-color: transparent;
    color: #eb3e32;
    font-weight: 400;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #eb3e32
}
.product-well .show-more .btn--view-more span {
    color: #eb3e32 !important;
    text-transform: none !important;
    font-size: 14px !important;
    font-weight: 400 !important
}
.product-well .less-text {
    display: none
}
.product-tab .product-specification {
    padding: 30px 10px;
    background: #fff;
}
@media (max-width: 767px) {
    .product-tab .tab-link {
        width:100%;
        border: none;
        padding: 0;
        margin-bottom: 5px !important;
        background: #fff
    }
    .tab-content-mobile {
        display: none
    }
    .current .tab-content-mobile {
        display: block;
        padding: 0px 10px;
        border: 1px solid #e1e1e1;
        border-top: none;
        background: #f7f5f5
    }
    .current .tab-content-mobile .rte {
        padding: 10px 0;
        border-bottom: 0
    }
    ul.tabs.tabs-title {
        display: block;
        border: none;
        width: 100%;
        background: none !important
    }
    .product-tab .tab-link h3 {
        border: 1px solid #ebebeb;
        padding: 10px 10px;
        margin-top: 0;
        position: relative
    }
    .product-tab .tab-link h3:before {
        content: '\f107';
        font-size: 20px;
        font-family: FontAwesome;
        float: right;
        margin-right: 0;
        margin-top: -3px
    }
    .product-tab .tab-link.current .tab-content-mobile {
        margin-bottom: 0;
        background: #fff
    }
    .product-tab .tab-link.current .tab-content-mobile .rte p img {
        max-width: 100%;
        margin: 0 auto;
        width: auto !important;
        height: auto !important
    }
    .product-tab .tab-link.current h3 {
        border-bottom: none;
        border-bottom: solid 2px #eb3e32;
        background: #fff
    }
    .product-tab .tab-link span:after {
        content: none
    }
    .product-tab .border-dashed-tab {
        margin-bottom: 15px
    }
}
@media (max-width: 991px) {
    .logo {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        float: none
    }
    header .logo a {
        display: inline-block;
        width: 160px;
        margin: 0 auto;
        text-align: left
    }
}
@media (min-width: 992px) {
    .nav-mobile-button {
        display:none
    }
}
@media (max-width: 991px) {
    .nav-mobile-button {
        top:30px;
        width: 50px;
        left: 15px;
        position: absolute;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        z-index: 1000
    }
    .nav-mobile-button a {
        color: #333
    }
    .nav-mobile-button a .fa {
        font-size: 26px;
        height: 28px
    }
}
